body{
  background-color: lightblue ;
}

.img{
  max-width:100%;
  height:auto;
  {
  
.h1 {
  color: green ;
  text-align: center ;
}
  
.h2 {
  text-align: center ;
}




/* FOOTER */
.footer {
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  padding: 15px;
}
